
    <div class="login m-4">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"  routerLink="/login"> Log In </h2>
                <h2 class="inactive underlineHover"><a  routerLink="/register">Register</a> </h2>
                <form class="mb-3">
                       <!-- email -->
                       <div class="form-group">
              <input type="email" class="mt-5 button-mm" placeholder="Email" value="" id=" Email"/>
                    </div>
                    <!-- User Name -->
                    <div class="form-group">
                        <input type="text" class="button-mm" placeholder="User Name" value="" id=" username" />
                    </div>
                    <!--  password  doc-->
                    <div class="fadeIn third">
                        <input type="password" class="button-mm" placeholder="Password " value="" id="password" />
                    </div>
                    <input type="submit" class="fadeIn mt-5 fourth" value="Register">
                </form>
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover"  routerLink="#">Book Store</a>
                </div>
  
            </div>
        </div>
     </div>


