<section class="container text-align-center" *ngIf="_auth.userData">
  <h4 class="text-uppercase">your profile</h4>
  <!-- <img
    class="profile-img"
    src="http://localhost:3000/{{this._auth.userData?.['imgProfile']}}"
  /> -->
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">UserName</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <!-- {{_auth.userData?.['userName']}} -->
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <!-- {{_auth.userData?.['email']}} -->
          </div>
        </div>
        <hr />
        <!-- <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                (320) 380-4539
              </div>
            </div> -->
        <!-- <hr> -->
        <!-- <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Bay Area, San Francisco, CA
              </div>
            </div> -->
        <!-- <hr> -->
        <div class="row">
          <div class="col-sm-12">
            <a class="btn btn-info" routerLink="/edit">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
