<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">Product catalog</h1>
    <div class="row flow-offset-1">
      <div class="col-xs-6 col-md-4">
        <div class="product tumbnail thumbnail-3"><a href="#"><img [src]="img+single.bookImg" alt=""></a>
          <div class="caption">
            <h6><a href="#">{{single.title}}</a></h6><span class="price">
              <del>${{single.price}}</del></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  