<div class="products">
  <div class="container">
      <!-- <div class=" card-body inline-block col-3">
        <button class="m-2 btn btn-primary" *ngFor="let c of cats">{{c}}</button>
        <a class="dropdown-item"  routerLink="/category/Medical">Medical</a>
        <a class="dropdown-item" routerLink="/category/Food-Drink" >Food</a>
        <a class="dropdown-item" routerLink="/category/Science-Fiction-Fantasy-Horror"  >Science-Fiction-Fantasy-Horror</a>
        <a class="dropdown-item" routerLink="/category/Romance"  >Romance</a>
        <a class="dropdown-item" routerLink="/category"  >computing</a>
        <a class="dropdown-item" routerLink="/category"  >Sport</a>
        <a class="dropdown-item" routerLink="/category"  >Poetry-Drama</a>
        <a class="dropdown-item" routerLink="/category"  >Travel-Holidays</a>
        <a class="dropdown-item" routerLink="/category"  >Children</a>
        <a class="dropdown-item" routerLink="/category" >Education</a>
    </div> -->
      <div class="row" *ngIf="isLoaded ; else notLoaded">
        <div class="col-md-4 col-12 mb-4 " *ngFor="let b of books">
          <div class="items">
            <div class="item">
              <div class="img-prod">
  
        <a routerLink="">
                  <img [src]="img+ b.bookImg">
                </a>
  
              </div>
  
              <div class="content">
  
                <div class="category">
               <h4>{{b.title}}</h4>
              <p>{{b.price}}</p>
  
                </div>
                <!-- <div class="dic">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit aut laboriosam sapiente possimus reiciendis
                voluptatem! Dolores corporis beatae deleniti ut eveniet perferendis aliquam! Minus unde ut itaque distinctio
                quisquam aliquam!</p>
                </div> -->
                <div class="pro-bottom">
                  <!--  <button routerLink="/blog/{{i}}">see More </button> -->
  
                   <div routerLink="/single/{{b._id}}" id="btn"><span  class="noselect btn btn-light txt text-uppercase mr-2 px-4">see More </span><div id="circle"></div></div>
                </div>
                <!-- <div class="cart mt-4 align-items-center"> <button class="btn btn-warning text-primary text-uppercase mr-2 px-4">Add to cart</button>
                </div> -->
  
              </div>
  
  
            </div>
          </div>
        </div>
      </div>
      <ng-template #notLoaded>
        <div class="lds-dual-ring"></div>
      </ng-template>
    </div>
  </div>